.custom-btn {
    width: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#show-all-btn {
    margin-top: 9px;
}
.admin-btn {
    float: right;
}
hr {
    margin-top: 4px;
}
#msg {
    margin-top: 5px;
    margin-bottom: 30px;
}

